@tailwind base; 
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Harrington';
    src: url('../assets/Harrington-Font/harrington.ttf');
}

.harfont {
    font-family: 'Harrington', Arial, Helvetica; /* Harrington font */
}

@layer components {
    .pill-button-std {
        @apply inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-slate-700 rounded-full hover:bg-slate-800 focus:ring-4 focus:outline-none focus:ring-slate-300 dark:bg-slate-600 dark:hover:bg-slate-700 dark:focus:ring-slate-800;
    }
    .site-link-std {
        @apply text-slate-600 hover:text-slate-800;
    }
    .site-card-frame {
        @apply m-auto max-w-sm p-0 bg-white border rounded-lg shadow border-gray-400;
    }
    .site-card-title {
        @apply text-3xl
    }
    .site-card-body {
        @apply 
    }
}

.title {
    border-bottom: 1px solid black;
}