{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="container px-4 py-1 my-1 m-auto text-center w-full sm:w-1/2">
        <div class="container border-2 border-gray-400 rounded-lg shadow">
            <img src={% static 'assets/banner_logous.png' %} class="rounded-lg" alt="...">
        </div>
        {% comment %} {% if blogs %}
        <div class='flex'>
            {% for blog in blogs %}
            <div class="flex-auto mr-4">
                {% include 'components/posts/post_card.html' with post=blog %}
            </div>
            {% endfor %}
        </div>
        {% endif %} {% endcomment %}
    </div>
{% endblock %}
